body {
  margin: 0;
  background-color: #121212;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #eee;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

* {
  box-sizing: border-box;
}
